.tt-uppercase {
	text-transform: uppercase;
}
.ta-center {
	text-align: center;
}

.bg-gray {
	background-color: $bg-gray;
}

.fw-light {
	font-weight: 300;
}

.fw-bold {
	font-weight: bold;
}

.fs-italic {
	font-style: italic;
}

.color-red {
	color: $main-red;
}