$trans: all 0.3s ease;
$header-menu-btn-size: 56px;
$min-width: 430px;

$bg-gray: #fbf9f7;
$border: #eeecef;
$main-green: #4ac662;
$main-red: #f7746d;
$main-pink: #fddcda;
$main-gray: rgba(0,0,0,0.65);
$placeholder: rgba(0,0,0,0.5);
$description-border: #f9f6f5;
$input-styled-bg: #f7f7f7;