extends templates/layout

block vars
	- var title = 'Фруторай - о нас'

block content
	section.sec.about
		div.container
			div.lines-container.delivery__title
				p.title.title_m.title_light.ta-center.lines.
					О нас
			div.about__content
				div.about__content-img-wrap
					img(src="img/about-img.jpg", alt="").about__content-img
				div.about__content-text
					p.text.text_l.
						Фруторай - это мастерская вкусных и полезных подарков, которая всегда готова подарить Вам и вашим близким прекрасное настроение!
					p.
						Фруторай – это легендарный герой, который прилетел сюда по зову сердца из Франции. Его героическая миссия заключается в спасении мира. С каждым годом все больше людей с благодарностью отмечают, что он творит чудеса. Фрутти Мен ищет и находит такие сочетания цветов и вкусов, которые просто приводят в восторг. Frutti Flowers - одна из его находок. Он первым обнаружил, что фруктовые букеты дарят море радости. Букет из фруктов однажды спас жизнь ему самому.