div(data-popup="js-call-me").modal
	div.modal__popup.modal__popup_small.ta-center
		div.modal__close
		p.modal__title.
			Обратный звонок
		form.modal__form
			label.modal__label
				input(type="text" name="name" placeholder="Ваше имя").input.modal__input
			label.modal__label
				input(type="text" name="phone" placeholder="Ваш телефон").input.modal__input
			button.btn-rect.
				Заказать