footer.footer
	div.container.footer__container
		div.footer__top
			div.footer__logo-container
				a(href="index.html").logo
					img(src="img/header-logo.png", alt="Фруторай").footer__logo-img
					span.logo__text.
							Съедобные подарки
				p.footer__text-mobile.
					Яркие фруктовые букеты соответствуют вышеперечисленным критериям. Польза и практичность подарка очевидна: на него можно полюбоваться, а потом им полакомиться. В свежих фруктах содержится мощный заряд энергии.
			div.footer__info
				div.footer__list-container
					p.text.text_l.
						Каталог
					ul.footer__list
						li.footer__list-item
							a(href="").footer__list-link.
								Фруктовые букеты
						li.footer__list-item
							a(href="").footer__list-link.
								Детский праздник
						li.footer__list-item
							a(href="").footer__list-link.
								На свадьбу
						li.footer__list-item
							a(href="").footer__list-link.
								Банкет, фуршет
					ul.footer__list
						li.footer__list-item
							a(href="").footer__list-link.
								Карвинг арбуза
						li.footer__list-item
							a(href="").footer__list-link.
								Фрукты в шоколаде
						li.footer__list-item
							a(href="").footer__list-link.
								День рождения
						li.footer__list-item
							a(href="").footer__list-link.
								На 8 марта
				div.footer__list-container
					p.text.text_l.
						Компания
					ul.footer__list
						li.footer__list-item
							a(href="").footer__list-link.
								О нас
						li.footer__list-item
							a(href="").footer__list-link.
								Контакты
						li.footer__list-item
							a(href="").footer__list-link.
								Доставка
						li.footer__list-item
							a(href="").footer__list-link.
								Оплата
				div.footer__list-container.footer__list-container_social
					p.text.text_l.
						Мы в соц. сетях
					ul.footer__list.footer__social-list
						li.footer__list-item.footer__social-list-item
							a(href="").footer__list-link.footer__social-list-link.footer__social-list-link_inst
								img.footer__social-list-img(src="img/icons/inst-bg.png", alt="")
						li.footer__list-item.footer__social-list-item
							a(href="").footer__list-link.footer__social-list-link.footer__social-list-link_vk
								img.footer__social-list-img(src="img/icons/vk-bg.png", alt="")
						li.footer__list-item.footer__social-list-item
							a(href="").footer__list-link.footer__social-list-link.footer__social-list-link_ok
								img.footer__social-list-img(src="img/icons/ok-bg.png", alt="")
		div.footer__bottom
			p.
				Все права защещены
			p
				|Дизайн 
				a(href="").footer__list-link.
					EK